<section id="about" class="relative max-w-[85rem] px-4 py-14 sm:px-6 lg:px-8 lg:py-20 mx-auto h-max">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div class="bg-orangeburn rounded-lg p-8 md:p-12 lg:px-16 lg:py-24">
          <div class="mx-auto max-w-xl text-center">
            <h2 class="text-2xl font-medium text-white md:text-3xl">
              ¡Descubre tu Armonía Corporal!
            </h2>
  
            <p class="hidden text-grayash sm:mt-4 sm:block">
               En nuestro espacio, expertos fisioterapeutas transforman dolores musculares en bienestar, optimizando tu mecánica corporal y liberando tensiones. ¡Aprende a mover tu cuerpo libre de dolor!
            </p>
  
            <div class="mt-4 md:mt-8">
              <a
                href="/services"
                class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-orangeburn transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400"
              >
                Empieza Hoy
              </a>
            </div>
          </div>
        </div>
  
        <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
          <img
            alt="Nuestro espacio"
            src="./img/camilla.webp"
            class="h-40 w-full rounded-lg object-cover sm:h-56 md:h-full"
            loading="eager"
          />
  
          <img
            alt="Massage"
            src="./img/massage.webp"
            class="h-40 w-full rounded-lg object-cover sm:h-56 md:h-full"
            loading="eager"
          />
        </div>
      </div>
  </section>