<section class="relative  bg-cover bg-center bg-no-repeat lg:h-screen" style="background-image: url('/img/oficinaBenying-XL.jpeg');">
  <div class="absolute inset-0 bg-gradient-to-r from-grayblue/50 to-bluewhite/30 lg:h-screen overflow-hidden">
  </div> 
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-left ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl text-blue font-extrabold sm:text-5xl">
        Descrubre el camino
        <strong class="block font-extrabold text-orangeburn"> a una vida sin dolor. </strong>
      </h1>

      <p class="mt-4 max-w-lg text-whiteblue font-bold sm:text-xl/relaxed">
        Somos expertos en manejo de dolor muscular y restauración de tejidos blandos.
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="/services"
          class="block w-full rounded bg-blueaccent px-12 py-3 text-sm font-medium text-white shadow hover:bg-orangeburn focus:outline-none focus:ring active:bg-orangeburn sm:w-auto"
        >
          ¡Reserva tu Cita!
        </a>

        <a
          href="/#about"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-orangeburn shadow hover:text-blueaccent hover:bg-grayash focus:outline-none focus:ring active:text-sky-500 sm:w-auto"
        >
          Conócenos
        </a>
      </div>
    </div>
  </div>
</section>