---
import Terapist from './MiniComponents/Terapist.astro'
---

<section class="group relative max-w-[85rem] px-4 py-14 sm:px-6 lg:px-8 lg:py-20 mx-auto h-max">
    <h2 class="text-center text-3xl font-medium tracking-tight text-blueaccent sm:text-5xl">
        Nuestro equipo
      </h2>
    <div class="grid p-4  grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8">
        
        <Terapist 
            Image='./img/Cristian.webp'
            Name='Cristian Rodriguez'
            Profession='Fisioterapeuta'
            Description='Especialista en cuidado crítico con su método logra la Recuperación de tejidos y readaptación cardíaca y pulmonar'
        />
        <Terapist 
            Image='./img/BenyingSzetu.webp'
            Name='Benying Szetu'
            Profession='Fisioterapeuta'
            Description='Especialista en terapia manual ortopédica, certificada en inducción Miofascial, a través sus técnicas logra disminuir las tensiones'
        />
    </div>
</section>