---
import Instagram from "../Icons/Instagram.astro";
import Facebook from "../Icons/Facebook.astro";
import Whatsapp from "../Icons/Whatsapp.astro";

interface Props {
	title: string;
    link: string;
    details: string;
}

const { title, link, details } = Astro.props;

// Función para determinar si el enlace es de Instagram o Facebook
const isInstagram = link.includes("instagram.com");
const isFacebook = link.includes("facebook.com");
const isWhatsapp = link.includes("wa.link");
---

<!-- <a href={ link } target="_blank" class="block p-3 rounded-lg bg-gradient-to-r from-bluewhite to-blueaccent text-darkblue border-2 border-white border-solid hover:scale-105">
  <div class="flex items-center justify-between">
    <div>
      <p class="text-lg font-semibold">{ title }</p> -->
      <!-- <p class="text-sm">{ details }</p> -->
    <!-- </div>
    
    <div class="h-7 w-7 ml-2">
      {isInstagram && <Instagram />}
      {isFacebook && <Facebook />}
      {isWhatsapp && <Whatsapp />}
    </div>
  </div>
</a> -->

<a href={ link } class="flex flex-col flex-wrap justify-center items-center h-10 w-auto text-blue text-center hover:text-yellowburn hover:scale-110">
    {isInstagram && <Instagram />}
    {isFacebook && <Facebook />}
    {isWhatsapp && <Whatsapp />}
    <p class="text-xs">{details}</p>
</a>