---
import Video from '../Icons/Video.astro';
interface Props {
	title: string;
    link: string;
    details: string;
}

const { title, link, details } = Astro.props;
---

<a href={ link } target="_blank" class="block p-3 rounded-lg bg-red">
    <div class="flex items-center justify-between text-white">
      <div>
        <p class="text-lg font-semibold">{ title }</p>
        <p class="text-sm text-grayash">{ details }</p>
      </div>
      
      <div class="h-7 w-7 ml-2">
        <Video />
      </div>
    </div>
</a>