---
import Layout from '../layouts/Layout.astro';
import ErrorPage from '../components/ErrorPage.astro';
---
<Layout title="Estas perdido en Sanar es Bienestar?">
    <div class="relative max-w-[85rem] px-4 py-14 sm:px-6 lg:px-8 lg:py-20 mx-auto">
        <ErrorPage />
    </div>
</Layout>