---
import LinksLayout from "../layouts/LinksLayout.astro";
import MainLinks from "../components/Links/MainLinks.astro";
---

<LinksLayout title="Links de Sanar es Bienestar.">
        <div 
            class="fixed inset-0 
            bg-[url('/img/BenyingSzetu.webp')] 
            bg-no-repeat 
            bg-cover 
            bg-center 
            md:bg-auto 
            opacity-30">
        </div>
        <MainLinks />
</LinksLayout>