---
import Layout from "../layouts/Layout.astro";
import Reserve from "../components/Reserve/Reserve.vue"
---

<Layout title="Nuestros Servicios en Sanar es Bienestar.">
    <!-- <div class="max-w-[85rem] px-4 py-14 sm:px-6 lg:px-8 lg:py-20 mx-auto">
    </div> -->
    
    <Reserve client:load />
</Layout>