---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/User/calendar.vue"
import UpdateData from "../components/Admin/UpdateData.vue";
---
<Layout title="Ingreso Cuenta Sanar es Bienestar">
    <div class="max-w-[85rem] px-4 py-14 sm:px-6 lg:px-8 lg:py-20 mx-auto">
        <Calendar client:load/>
        <UpdateData  client:load/>
    </div>
</Layout> 