---
import '@fontsource-variable/lexend';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/img/icon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Sanar es Bienestar es el lugar donde le podrás decir adiós al dolor. Con nuestros expertos fisioterapeutas podras recuperarte, tratarte y tratar tus tejidos blando de forma profesional. Los mejores profesionales de Bogota Colombia" />
		<meta name="keywords" content="Sanar, Bienestar, Fisioterapia, Fisioterapeutas, Fisioterapia en Bogota, Fisioterapia en Bogota, Fisioterapia en Bogota, Benying Szetu" />
		<meta name="author" content="GorigamiDev gorigami.xyz" />
		<meta name="robots" content="index, follow" />
		<title>{title}</title>
	</head>
	<body>
        <main class="max-w-[85rem] px-4 py-14 sm:px-6 lg:px-8 lg:py-20 mx-auto">
            <slot />
        </main>
	</body>
</html>
<style is:global>
	:root{
		--white-bg: #cadbe3;
		--ble-bg: #385b8a;
		--dark-blue: #071a31;
	}
	body {
		font-family: 'Lexend Variable', sans-serif;
	}
	html{
		/* background: linear-gradient(36deg, var(--white-bg), 90%, var(--ble-bg) ); */
		background: var(--white-bg);
		font-family: ;
	}
</style>
