---
import '@fontsource/ibm-plex-sans';
import '@fontsource-variable/lexend';
import NavBar from '../components/NavBar.astro';
import MainFoot from '../components/MainFoot.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/img/icon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<div class="relative max-w-[85rem] px-4 py-20 sm:px-6 lg:px-8 lg:py-20 mx-auto policy">
			<slot />
		</div>
		<MainFoot />
	</body>
</html>
<style is:global>
	:root{
		--white-background: #eff1f2;
		--blueaccent: #6483ad;
		--newgray: #4f5a6b;
		--blues: #385b8a;
		--darkblue: #163a5a;
	}
	html{
		background: var(--white-background);
	}
	body {
		font-family: 'Lexend Variable', sans-serif;
	}
	.policy{
		text-wrap: balance;
	}
	.policy>h1{
		color: var(--darkblue);
		font-size: 1.8rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	.policy>h2{
		color: var(--blues);
		font-size: 1.3rem;
		margin-bottom: .7rem;
	}
	.policy>h3{
		color: var(--blues);
		font-size: 1.1rem;
		margin-bottom: .5rem;
	}
	.policy>p{
		color: var(--newgray);
		font-size: 1rem;
		margin-bottom: 1rem;
	}
</style>
